@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Training Courses</h1>
    <p class="lead">Here you can book courss</p>
    @Html.ActionLink("Book Course", "Create", null, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           writing here..
        </p>
    </div>
    <div class="col-md-4">
    writing here   </div>
    <div class="col-md-4">
 writing here    </div>
</div>